################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Odasoft.mPlay.Web/node_modules
/.vs
/artifacts
/Odasoft.mPlay.Business/bin/Debug
/Odasoft.mPlay.Business/obj/Debug
/Odasoft.mPlay.Data/bin/Debug
/Odasoft.mPlay.Data/obj/Debug
/Odasoft.mPlay.Models/bin/Debug
/Odasoft.mPlay.Models/obj/Debug
/Odasoft.mPlay.Models.Mappings/bin/Debug
/Odasoft.mPlay.Models.Mappings/obj/Debug
*.user
/packages