@{
    ViewData["Title"] = "Song Page";
}

<center>
    <img src="http://shadyrecords.com/eminem.com/mmlp2_art.jpg" alt="...">
</center>
<br />

<div class="row">
    <div class="col-md-10">
        <h1>The Marshall Mathers LP 2</h1>
    </div>
    <div class="col-md-2">
        <h4>$15.00</h4>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h4>Description </h4>
        <br />
        The Marshall Mathers LP 2 is the eighth studio album
        by American rapper Eminem. It was released on November
        5, 2013, by Aftermath Entertainment, Shady Records,
        and Interscope Records. It is a sequel to 2000's The
        Marshall Mathers LP. Production for the album took place
        from 2012 to 2013 and was handled by Eminem and other
        record producers, including Rick Rubin, Luis Resto,
        Emile Haynie, and Alex da Kid. The album features
        guest appearances from singers Skylar Grey, Rihanna,
        and Fun frontman Nate Ruess, with the only other rapper
        appearing on the album being Eminem's Aftermath label-mate
        Kendrick Lamar.
    </div>
</div>
<div class="row">
    <div class="list-group col-md-6">
        <h2>Songs</h2>
        <button type="button" class="list-group-item">Bad Guy</button>
        <button type="button" class="list-group-item">Parking Lot</button>
        <button type="button" class="list-group-item">Rhyme or Reason</button>
        <button type="button" class="list-group-item">So Much Better</button>
        <button type="button" class="list-group-item">Survival</button>
        <button type="button" class="list-group-item">Legacy</button>
        <button type="button" class="list-group-item">Asshole</button>
        <button type="button" class="list-group-item">Berzek</button>
        <button type="button" class="list-group-item">Rap God</button>
        <button type="button" class="list-group-item">Brainless</button>
        <button type="button" class="list-group-item">Stronger Than I Was</button>
        <button type="button" class="list-group-item">The Monster</button>
        <button type="button" class="list-group-item">So Far...</button>
        <button type="button" class="list-group-item">Love Game</button>
        <button type="button" class="list-group-item">Headlights</button>
        <button type="button" class="list-group-item">Evil Twin</button>
        <button type="button" class="list-group-item">Baby</button>
        <button type="button" class="list-group-item">Desperation</button>
        <button type="button" class="list-group-item">Groundhog Day</button>
        <button type="button" class="list-group-item">Beautiful Pain</button>
        <button type="button" class="list-group-item">Wicked Ways</button>
    </div>
    <div class="list-group col-md-6">
        <h2>Duration</h2>
        <button class="list-group-item">07:14</button>
        <button class="list-group-item">00:55</button>
        <button class="list-group-item">05:01</button>
        <button class="list-group-item">04:21</button>
        <button class="list-group-item">04:32</button>
        <button class="list-group-item">04:56</button>
        <button class="list-group-item">04:48</button>
        <button class="list-group-item">03:58</button>
        <button class="list-group-item">06:03</button>
        <button class="list-group-item">04:46</button>
        <button class="list-group-item">05:36</button>
        <button class="list-group-item">04:10</button>
        <button class="list-group-item">05:17</button>
        <button class="list-group-item">04:56</button>
        <button class="list-group-item">05:43</button>
        <button class="list-group-item">05:56</button>
        <button class="list-group-item">04:23</button>
        <button class="list-group-item">03:56</button>
        <button class="list-group-item">04:53</button>
        <button class="list-group-item">04:25</button>
        <button class="list-group-item">06:31</button>
    </div>
</div>

<div class="bottom">
    <a class="btn btn-primary btn-lg col-md-12" href="#" role="button">Buy Album</a>
</div>




