@model ICollection<Odasoft.mPlay.Models.Album>
@{
    ViewData["Title"] = "Album Page";
}

<div class="row">
    <div class="col-lg-6">
        <div class="input-group col-lg-6">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>
<br />

<h3>
    Albums
</h3>
<br />

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-xs-12 col-md-4">
            <a href="Album/Details/@item.Id" class="thumbnail">
                <img src="@item.Image" alt="...">
            </a>
            <h3>@item.Title</h3>
            <p>@item.Description</p>
            <a class="btn btn-primary btn-lg">Buy</a>
        </div>
    }



</div><!--End Row-->
